@font-face {
  font-family: 'ProDisplayBlack';
  src: url('../fonts/SFProDisplay-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayBlackItalic';
  src: url('../fonts/SFProDisplay-BlackItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayBold';
  src: url('../fonts/SFProDisplay-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayBoldItalic';
  src: url('../fonts/SFProDisplay-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayHeavy';
  src: url('../fonts/SFProDisplay-HeavyItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayLight';
  src: url('../fonts/SFProDisplay-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayLightItalic';
  src: url('../fonts/SFProDisplay-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayMedium';
  src: url('../fonts/SFProDisplay-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayMediumItalic';
  src: url('../fonts/SFProDisplay-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayRegular';
  src: url('../fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayRegularItalic';
  src: url('../fonts/SFProDisplay-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplaySemibold';
  src: url('../fonts/SFProDisplay-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplaySemiboldItalic';
  src: url('../fonts/SFProDisplay-SemiboldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayThin';
  src: url('../fonts/SFProDisplay-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayThinItalic';
  src: url('../fonts/SFProDisplay-ThinItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayUltralight';
  src: url('../fonts/SFProDisplay-Ultralight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProDisplayUltralightItalic';
  src: url('../fonts/SFProDisplay-UltralightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
