@mixin buttonStyle($color){
  background-color: $color;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  border: none;
  width: 250px;
  margin-top: 3px;
  color: #fff;
  font-size: 1.2rem;
}

@mixin inputTexts{
  border: 1px solid #9c9c9c;
  padding: 10px;
  color: $brown;
  width: 100%;
}
