@charset 'utf-8';
@import 'font';
@import 'variables';
@import 'mixin';

*{
  margin: 0;
  pading: 0;
}

body{
  background-color: #fff;
  font-family: 'ProDisplayRegular';
}

.listCapsule{
  width: 50%;
  max-width: 700px;
  margin: 0 auto;
  height: 100%;
}

.listHeader{
  background-color: $brown;
  color:$yellow;
  height: 80px;
}

.listHeaderLogo{
  display: flex;
  justify-content: center;

  img{
    width: 150px;
  }
}

.listHeaderInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listUserInfo{
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    margin-right: 5px;
  }
}

.listBody{
  padding-top: 20px;
}

.listBodyHeader{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.listContent{
  border: 1px solid $turquoise;
  border-radius: 5px;

  ul{
    padding: 0;
  }
}

.listItem{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $turquoise;
  flex-wrap: wrap;

  &:last-child{
    border-bottom: none;
  }
}

.listName{
  display: flex;
  padding: 10px 0;
  font-size: 1.1rem;
  align-items: center;
}

.listActions{
  display: flex;
  padding: 10px 0;
}

.listIcon{
  background-image: url('../images/icone_lista.png');
  width: 20px;
  height: 15px;
  margin: 0 10px;
}

.editIcon{
  background-image: url('../images/icone_editar.png');
  width: 23px;
  height: 20px;
}

.deleteListIcon{
  background-image: url('../images/icone_deletar_lista.png');
  width: 15px;
  height: 20px;
  margin: 0 10px;
}

.taskList{
  width: 90%;
  margin-left: 40px;
  list-style-type: none;
}

.task{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $turquoise;
  margin-bottom: 10px;
}

.deleteTaskIcon{
  background-image: url('../images/icone_deletar_tarefa-subtarefa.png');
  width: 11px;
  height: 15px;
  margin: 0 10px;
}

.subtaskList{
  list-style-type: none;
  font-size: 0.9rem;
  margin-left: 10px;
}

.subtask{
  display: flex;
  justify-content: space-between;
}
